---
layout: default
---

<main class="section section--intro" id="#">
  <div class="section__inner">
    <div class="section__header section__header--1">
      <h1 class="editable">
 	Servus!
 </h1>
    </div>
    <div class="section__content">
      <p class="section__paragraph editable">
 	My name is Thomas K&ouml;nig, I'm 33 years old, husband of a wonderful wife, father of two lovely kids and passionate Software Developer currently working for Sueddeutsche.de in Munich.
 </p>
      <p class="section__paragraph editable">
 	Find out more <a class="link" data-hover="about me" href="#about">about me</a>, explore my <a class="link" data-hover="projects" href="#projects">projects</a>, <a class="link" data-hover="contact" href="#contact">contact</a> me or just keep on reading...
 </p>
    </div>
  </div>
</main>

<section class="section section--2" id="about">
  <div class="section__inner">
    <div class="section__header section__header--2">
      <h1 class="editable">
 	what I do?
 </h1>
    </div>
    <div class="section__content">
      <p class="section__paragraph editable">
 	I love working in a productive team and I always try to strike new paths and to discover the latest web technologies on the server as well as on the client. I'm a big fan of functional JavaScript and that's why I also love node.js.
 </p>
      <p class="section__paragraph editable">
 	I deal with fast, robust server-side applications with a high number of requests, build RESTful-APIs, automate things, and put a lot of effort into nice and easy-to-use frontends. Beside that I also do some basic DevOp stuff and take care of automated (end-to-end) testing or rather continious deployment pipelines.
 </p>
    </div>
  </div>
</section>

<section class="section section--3">
  <div class="section__inner">
    <div class="section__header section__header--3">
      <h1 class="editable">
 	experience
 </h1>
    </div>
    <div class="section__content">
      <p class="section__paragraph editable">
 	I've successfully completed a course in Interactive Media &ndash; a combination of informatics and design &ndash; at the <a class="link" target="_blank" data-hover="University of Applied Sciences Hochschule Augsburg" href="//www.hs-augsburg.de/gestaltung">University of Applied Sciences Hochschule Augsburg</a>.
 </p>
      <p class="section__paragraph editable">
 	Currently I'm working for <a class="link" target="_blank" data-hover="Sueddeutsche Digitale Medien GmbH" href="//www.sz.de">Sueddeutsche Zeitung Digitale Medien GmbH</a>, and I've worked for several companies like the <a class="link" target="_blank" data-hover="University of Applied Sciences Hochschule Augsburg" href="//www.hs-augsburg.de/gestaltung">University of Applied Sciences Hochschule Augsburg</a>, <a class="link" target="_blank" data-hover="LAB BINÆR" href="//www.labbinaer.de/">LAB BIN&AElig;R</a>.
 </p>
    </div>
  </div>
</section>

<section class="section section--4" id="projects">
  <div class="section__inner">
    <div class="section__header section__header--4">
      <h1 class="editable">
 	projects
 </h1>
    </div>
    <div class="section__content">
      <p class="section__paragraph">
        <span class="project editable"><a class="link project__title" target="_blank" href="//www.sz-magazin.de" data-hover="sz-magazin.de">sz-magazin.de</a> #frontend #vue #cms #node.js #docker #elasticsearch</span>
        <span class="project editable"><a class="link project__title" target="_blank" href="//www.jetzt.de/" data-hover="jetzt.de">jetzt.de</a> #cms #frontend #node.js</span>
        <span class="project"><a class="link project__title editable" target="_blank" href="//showcase.hs-augsburg.de/projects_2015/toni" data-hover="Toni">Toni</a> #bachelor #node.js #angular #design #raspberry-pi</span>
        <span class="project"><a class="link project__title editable" target="_blank" href="//showcase.hs-augsburg.de/projects_2014/high-striker" data-hover="Highstriker">Highstriker</a> #node.js #websockets #raspberrypi #installation</span>
      </p>
    </div>
  </div>
</section>

<section class="section section--footer section--5" id="contact">
  <div class="section__inner section__inner--right">
    <div class="section__header section__header--5">
      <h1 class="editable">
 	find me!
 </h1>
    </div>
    <img class="section__image" src="images/profil.png" alt="Picture of Thomas König" />
    <div class="section__content">
      <h2 class="section__headline editable">
 	Thomas K&ouml;nig
 </h2>
      <p class="section__paragraph editable">
 	Interactive Developer
 </p>
      <p class="section__paragraph editable">
 	Dreim&uuml;hlenstr. 5<br />80469 M&uuml;nchen
 </p>
      <p class="section__paragraph"><a class="link editable" href="tel:+491716267394">+49 171/6267394</a></p>
      <p class="section__paragraph"><a class="link editable" href="mailto:mail@koenigthomas.de">mail@koenigthomas.de</a></p>
      <p class="section__paragraph">
        <a href="//github.com/Vispercept" target="_blank" class="link--icon">
          {% include_relative _assets/svg/github.svg %}
        </a>
        <a href="//twitter.com/tmskng" target="_blank" class="link--icon">
          {% include_relative _assets/svg/twitter.svg %}
        </a>
        <a href="//de.linkedin.com/in/thomas-könig-6414176b" target="_blank" class="link--icon">
          {% include_relative _assets/svg/linkedIn.svg %}
        </a>
        <a href="//www.xing.com/profile/Thomas_Koenig202" target="_blank" class="link--icon">
          {% include_relative _assets/svg/xing.svg %}
        </a>
      </p>
    </div>
  </div>
</section>
