.section {
  box-sizing: border-box;
  position: relative;
  width: 75%;
  margin: 0 auto;
  padding: 3em;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $width) {
    width: 100%;
  }

  &--intro {
    height: 100vh;

    @media only screen and (max-width: $width) {
      margin-bottom: 1em;
    }
  }

  &--footer {
    @media only screen and (max-width: $width) {
      padding-bottom: 13em;
      overflow: hidden;
    }
  }


  &__inner {
    position: relative;
    min-width: 50%;

    &--right {
      text-align: right;
      width: 100%;

      @media only screen and (max-width: $width) {
        text-align: inherit;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: -6.7em;
    width: 500px;
    height: 500px;

    @media only screen and (max-width: $width) {
      top: 8em;
      right: 20%;
      transform: translateX(50%);
      width: 100vw;
      height: 100vw;
    }
  }

  &__content {
    transform: translateY(-2em);
  }

  &__header {
    font-weight: 900;
    font-size: 7em;
    text-transform: uppercase;
    white-space: nowrap;

    @media only screen and (max-width: $width) {
      font-size: 3em;
      transform: translate3d(-.3em, -.3em, 0) !important;
    }

    &--1 {
      transform: translateX(-.5em);
      color: $c4;
    }

    &--2 {
      transform: translateX(-.5em);
      color: $c4;
    }

    &--3 {
      transform: translateX(.8em);
      color: $c4;
    }

    &--4 {
      transform: translateX(-1em);
      color: $c4;
    }

    &--5 {
      transform: translate(0.8em, -0.1em);
      color: $c4;
    }
  }

  &__headline {
    font-size: 1.8em;
  }

  &__paragraph {
    display: block;
    font-weight: 700;
    z-index: 1;
    padding-bottom: 1em;
  }
}

.link {
  position: relative;
  color: $textColor;
  transition: background-color .2s, color .2s;

  &:hover {
    background-color: $textColor;
    color: $backgroundColor;
  }

  &--icon {
    text-decoration: none;
  }
}


.project {

  &__title {
    font-size: 2em;
  }
}
