---
layout: compress
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="geo.placename" content="München">
    <meta name="robots" content="all">
    <meta name="keywords" content="Thomas, König, München, Web, Webdevelopment, Softwaredevelopment, Full-Stack, Javascript, Node.js"/>
    <link rel="canonical" href="http://www.koenigthomas.de/">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    {% seo %}
    <style>
      {% capture critical_css %}
        {% include critical.scss %}
      {% endcapture %}
      {{ critical_css | scssify }}
    </style>
  </head>
  <body>
    {{ content }}
    <script>
      {% include critical.js %}
    </script>
  </body>
</html>
